body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin-top: 100px;
    background-color: #f4f4f4;
}
.container {
    position: relative;
    max-width: 1000px; 
    margin: auto; 
    padding: 40px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

h1 {
    color: #333;
}
form {
    margin-top: 20px;
}

input[type="file"] {
    margin-bottom: 20px;
    padding: 8px;
    font-size: 15px;
}

input[type="text"] {
    margin-bottom: 20px;
    padding: 8px;
    margin-right: 10px;
    border: 2px solid #ccc; 
    border-radius: 4px; 
}

button {
    background-color: #4f2ec5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #848feb; 
}
.message {
    position: fixed;
    margin: -80px 400px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #e7f3fe;
}
.message-upload {
    position: fixed;
    margin: 70px 400px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #e7f3fe;
}

a {
    position: absolute;
    top: 0; 
    right: 0; 
    margin: 10px; 
    padding: 10px 20px; 
    background-color: #4f2ec5; 
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
}

a:hover {
    background-color: #848feb; 
    text-decoration: none; 
}

.extension-label {
    display: inline-block;
    max-width: flex;
    white-space: normal; /* 줄바꿈 허용 */
    font-size: 15pt; 
    text-align: left;
}

.extension-list {
    margin-left: 130px; 
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
}

.extension-item {
    display: flex; 
    align-items: center; 
    flex: 0 1 auto; /* 항목 크기를 자동으로 조정 */
    padding: 5px;
    margin: 3px;
    background-color: #ddd;
    border-radius: 5px;
    text-align: left; 
    font-size: 15pt;
}
.delete-button {
    float:right;
    background-color: #ffffff00; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 2px 6px;
    cursor: pointer;
    font-size: 13pt;
}

.delete-button:hover {
    background-color: #c5c5c5; 
}
.large-checkbox {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.save-extension {
    margin-top: 10px;
}