<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>파일 확장자 관리</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="container">
        <h1>파일 확장자 관리</h1>

        <div class="message" th:if="${message}">
            <p th:text="${message}"></p>
        </div>

        <form method="POST" action="/select-extension">
            <h3>고정 확장자:</h3>
            <div class="extension-list">
                <div class="extension-item" th:each="extension : ${fixedExtensions}">
                    <input type="checkbox" name="fixed-selected" th:value="${extension}" th:checked="${selectedExtensions.contains(extension)}" class="large-checkbox fixed-extension" onclick="if(this.checked){this.form.submit()} else{this.form.submit()}">
                    <label th:text="${extension}" class="extension-label"></label>
                </div>
            </div>
            <button type="submit" id="select-all-fixed">전체 선택</button>
        </form>
        <form method="POST" action="/add-extension">
            <label for="extension">확장자 추가:</label>
            <input type="text" id="extension" name="extension" maxlength="20" required pattern="[A-Za-z0-9]+" title="영어로 입력해주시길 바랍니다.">
            <button type="submit">추가</button>
        </form>
        <form method="POST" action="/remove-extension">
            <h3>커스텀 확장자:</h3>
            <div class="extension-list">
                <div class="extension-item" th:each="extension : ${addedExtensions}">
                    <label th:text="${extension}" class="extension-label"></label>
                    <button type="submit" name="extension" th:value="${extension}" class="delete-button">X</button>
                </div>
            </div>
        </form>

        <a href="/upload">파일 업로드 페이지로 이동</a>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() { // 고정 확장자 전체 선택 버튼 
            document.getElementById('select-all-fixed').onclick = function() {
                const checkboxes = document.querySelectorAll('input[name="fixed-selected"]');
                const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);
                checkboxes.forEach(checkbox => {
                    checkbox.checked = !allChecked; 
                });
            };
        });
    </script>
</body>
</html>
